## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fot
*.cb
*.cb2
.*.lb
*.ist
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.xdy
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs


#gimp
*.xcf
*.pro.user
*.o
molecules2
